@font-face {
  font-family: 'rIcons';
  src:  url('fonts/rIcons.eot?oxumuw');
  src:  url('fonts/rIcons.eot?oxumuw#iefix') format('embedded-opentype'),
    url('fonts/rIcons.ttf?oxumuw') format('truetype'),
    url('fonts/rIcons.woff?oxumuw') format('woff'),
    url('fonts/rIcons.svg?oxumuw#rIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="rico-"], [class*=" rico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rico-rekhtalogo:before {
  content: "\e900";
}
.rico-rekhtamonogram:before {
  content: "\e901";
}
.rico-aamozishlogo:before {
  content: "\e902";
}
.rico-aamozishmonogram:before {
  content: "\e903";
}
.rico-blank:before {
  content: "\e904";
}
.rico-blank2:before {
  content: "\e905";
}
.rico-blank3:before {
  content: "\e906";
}
.rico-blank4:before {
  content: "\e907";
}
.rico-blank5:before {
  content: "\e908";
}
.rico-blank6:before {
  content: "\e909";
}
.rico-blank7:before {
  content: "\e90a";
}
.rico-blank8:before {
  content: "\e90b";
}
.rico-blank9:before {
  content: "\e90c";
}
.rico-blank10:before {
  content: "\e90d";
}
.rico-blank11:before {
  content: "\e90e";
}
.rico-blank12:before {
  content: "\e90f";
}
.rico-blank13:before {
  content: "\e910";
}
.rico-blank14:before {
  content: "\e911";
}
.rico-blank15:before {
  content: "\e912";
}
.rico-blank16:before {
  content: "\e913";
}
.rico-blank17:before {
  content: "\e914";
}
.rico-blank18:before {
  content: "\e915";
}
.rico-blank19:before {
  content: "\e916";
}
.rico-blank20:before {
  content: "\e917";
}
.rico-blank21:before {
  content: "\e918";
}
.rico-blank22:before {
  content: "\e919";
}
.rico-blank23:before {
  content: "\e91a";
}
.rico-blank24:before {
  content: "\e91b";
}
.rico-blank25:before {
  content: "\e91c";
}
.rico-blank26:before {
  content: "\e91d";
}
.rico-blank27:before {
  content: "\e91e";
}
.rico-blank28:before {
  content: "\e91f";
}
.rico-blank29:before {
  content: "\e920";
}
.rico-blank30:before {
  content: "\e921";
}
.rico-blank31:before {
  content: "\e922";
}
.rico-blank32:before {
  content: "\e923";
}
.rico-blank33:before {
  content: "\e924";
}
.rico-blank34:before {
  content: "\e925";
}
.rico-blank35:before {
  content: "\e926";
}
.rico-blank36:before {
  content: "\e927";
}
.rico-hamburger:before {
  content: "\e928";
}
.rico-more:before {
  content: "\e929";
}
.rico-close:before {
  content: "\e92a";
}
.rico-back:before {
  content: "\e92b";
}
.rico-search:before {
  content: "\e92c";
}
.rico-waffle:before {
  content: "\e92d";
}
.rico-user:before {
  content: "\e92e";
}
.rico-arrowup:before {
  content: "\e92f";
}
.rico-arrowright:before {
  content: "\e930";
}
.rico-arrowdown:before {
  content: "\e931";
}
.rico-arrowleft:before {
  content: "\e932";
}
.rico-arrowthinup:before {
  content: "\e933";
}
.rico-arrowthinright:before {
  content: "\e934";
}
.rico-arrowthindown:before {
  content: "\e935";
}
.rico-arrowthinleft:before {
  content: "\e936";
}
.rico-paperplane:before {
  content: "\e937";
}
.rico-calendar:before {
  content: "\e938";
}
.rico-location:before {
  content: "\e939";
}
.rico-sms:before {
  content: "\e93a";
}
.rico-edit:before {
  content: "\e93b";
}
.rico-camera:before {
  content: "\e93c";
}
.rico-replay:before {
  content: "\e93d";
}
.rico-lines:before {
  content: "\e93e";
}
.rico-fullscreen:before {
  content: "\e93f";
}
.rico-plus:before {
  content: "\e940";
}
.rico-minus:before {
  content: "\e941";
}
.rico-checkbox:before {
  content: "\e942";
}
.rico-checked:before {
  content: "\e943";
}
.rico-visible:before {
  content: "\e944";
}
.rico-hidden:before {
  content: "\e945";
}
.rico-controls:before {
  content: "\e946";
}
.rico-filter:before {
  content: "\e947";
}
.rico-sort:before {
  content: "\e948";
}
.rico-arrowhairup:before {
  content: "\e949";
}
.rico-arrowhairdown:before {
  content: "\e94a";
}
.rico-arrowhairright:before {
  content: "\e94b";
}
.rico-arrowhairleft:before {
  content: "\e94c";
}
.rico-blank37:before {
  content: "\e94d";
}
.rico-blank38:before {
  content: "\e94e";
}
.rico-blank39:before {
  content: "\e94f";
}
.rico-blank40:before {
  content: "\e950";
}
.rico-blank41:before {
  content: "\e951";
}
.rico-blank42:before {
  content: "\e952";
}
.rico-blank43:before {
  content: "\e953";
}
.rico-blank44:before {
  content: "\e954";
}
.rico-blank45:before {
  content: "\e955";
}
.rico-blank46:before {
  content: "\e956";
}
.rico-blank47:before {
  content: "\e957";
}
.rico-blank48:before {
  content: "\e958";
}
.rico-blank49:before {
  content: "\e959";
}
.rico-blank50:before {
  content: "\e95a";
}
.rico-blank51:before {
  content: "\e95b";
}
.rico-blank52:before {
  content: "\e95c";
}
.rico-blank53:before {
  content: "\e95d";
}
.rico-blank54:before {
  content: "\e95e";
}
.rico-blank55:before {
  content: "\e95f";
}
.rico-blank56:before {
  content: "\e960";
}
.rico-blank57:before {
  content: "\e961";
}
.rico-blank58:before {
  content: "\e962";
}
.rico-blank59:before {
  content: "\e963";
}
.rico-audio:before {
  content: "\e964";
}
.rico-audiooff:before {
  content: "\e965";
}
.rico-audioplaying:before {
  content: "\e966";
}
.rico-video:before {
  content: "\e967";
}
.rico-videostop:before {
  content: "\e968";
}
.rico-videothumbplay:before {
  content: "\e969";
}
.rico-commentary:before {
  content: "\e96a";
}
.rico-translate:before {
  content: "\e96b";
}
.rico-diacritics:before {
  content: "\e96c";
}
.rico-comments:before {
  content: "\e96d";
}
.rico-commentsfilled:before {
  content: "\e96e";
}
.rico-critique:before {
  content: "\e96f";
}
.rico-critiquefilled:before {
  content: "\e970";
}
.rico-additionalinfo:before {
  content: "\e971";
}
.rico-external:before {
  content: "\e972";
}
.rico-play:before {
  content: "\e973";
}
.rico-pause:before {
  content: "\e974";
}
.rico-popular:before {
  content: "\e975";
}
.rico-editorschoice:before {
  content: "\e976";
}
.rico-photo:before {
  content: "\e977";
}
.rico-blank61:before {
  content: "\e978";
}
.rico-blank62:before {
  content: "\e979";
}
.rico-blank63:before {
  content: "\e97a";
}
.rico-blank64:before {
  content: "\e97b";
}
.rico-blank65:before {
  content: "\e97c";
}
.rico-blank66:before {
  content: "\e97d";
}
.rico-blank67:before {
  content: "\e97e";
}
.rico-blank68:before {
  content: "\e97f";
}
.rico-blank69:before {
  content: "\e980";
}
.rico-blank70:before {
  content: "\e981";
}
.rico-blank71:before {
  content: "\e982";
}
.rico-blank72:before {
  content: "\e983";
}
.rico-blank73:before {
  content: "\e984";
}
.rico-blank74:before {
  content: "\e985";
}
.rico-blank75:before {
  content: "\e986";
}
.rico-blank76:before {
  content: "\e987";
}
.rico-blank77:before {
  content: "\e988";
}
.rico-blank78:before {
  content: "\e989";
}
.rico-blank79:before {
  content: "\e98a";
}
.rico-blank80:before {
  content: "\e98b";
}
.rico-favorite:before {
  content: "\e98c";
}
.rico-favorited:before {
  content: "\e98d";
}
.rico-share:before {
  content: "\e98e";
}
.rico-tag:before {
  content: "\e98f";
}
.rico-glasses:before {
  content: "\e990";
}
.rico-facebook:before {
  content: "\e991";
}
.rico-twitter:before {
  content: "\e992";
}
.rico-googleplus:before {
  content: "\e993";
}
.rico-youtube:before {
  content: "\e994";
}
.rico-instagram:before {
  content: "\e995";
}
.rico-whatsapp:before {
  content: "\e996";
}
.rico-pinterest:before {
  content: "\e997";
}
.rico-newsletter:before {
  content: "\e998";
}
.rico-blank81:before {
  content: "\e999";
}
.rico-blank82:before {
  content: "\e99a";
}
.rico-blank83:before {
  content: "\e99b";
}
.rico-blank84:before {
  content: "\e99c";
}
.rico-blank85:before {
  content: "\e99d";
}
.rico-blank86:before {
  content: "\e99e";
}
.rico-blank87:before {
  content: "\e99f";
}
.rico-blank88:before {
  content: "\e9a0";
}
.rico-blank89:before {
  content: "\e9a1";
}
.rico-blank90:before {
  content: "\e9a2";
}
.rico-blank91:before {
  content: "\e9a3";
}
.rico-blank92:before {
  content: "\e9a4";
}
.rico-blank93:before {
  content: "\e9a5";
}
.rico-blank94:before {
  content: "\e9a6";
}
.rico-blank95:before {
  content: "\e9a7";
}
.rico-blank96:before {
  content: "\e9a8";
}
.rico-blank97:before {
  content: "\e9a9";
}
.rico-blank98:before {
  content: "\e9aa";
}
.rico-blank99:before {
  content: "\e9ab";
}
.rico-blank100:before {
  content: "\e9ac";
}
.rico-blank101:before {
  content: "\e9ad";
}
.rico-blank102:before {
  content: "\e9ae";
}
.rico-blank103:before {
  content: "\e9af";
}
.rico-blank104:before {
  content: "\e9b0";
}
.rico-blank105:before {
  content: "\e9b1";
}
.rico-blank106:before {
  content: "\e9b2";
}
.rico-blank107:before {
  content: "\e9b3";
}
.rico-rateblank:before {
  content: "\e9b4";
}
.rico-ratehalf:before {
  content: "\e9b5";
}
.rico-ratefull:before {
  content: "\e9b6";
}
.rico-bookmark:before {
  content: "\e9b7";
}
.rico-bookmarked:before {
  content: "\e9b8";
}

